.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



.main{
    background-color: hsl(220, 15%, 55%);
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100%;
}

.main_container{
   background-color:hsl(0, 0%, 100%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 370px;
      
}

.qr_container{
    display: flex;
    border-radius: 30px;    
    
}

.content{
    text-align: center;
    justify-content: center;
}

img{
    max-width: 100%;
}